[VERSION]
major = 1
minor = 0

[WEIGHT_AND_BALANCE]
max_gross_weight = 5500
empty_weight = 3120
reference_datum_position = 0, 0, 0
empty_weight_CG_position = 0.33, 0, 0
CG_forward_limit = 0.10
CG_aft_limit = 0.30
empty_weight_pitch_MOI = 6200
empty_weight_roll_MOI = 3500
empty_weight_yaw_MOI = 9000
empty_weight_coupled_MOI = 100
activate_mach_limit_based_on_cg = 0
activate_cg_limit_based_on_mach = 0
max_number_of_stations = 8
station_load.0 = 0, 5.5, 0, 1, TT:MENU.PAYLOAD.FORWARD_BAGGAGE, 6
station_load.1 = 175, 0.6, -1.1, 0.9, TT:MENU.PAYLOAD.PILOT, 1
station_load.2 = 175, 0.6, 1.1, 0.9, TT:MENU.PAYLOAD.COPILOT, 2
station_load.3 = 0, -2.6, -1, 0.9, TT:MENU.PAYLOAD.FRONT_PAX_LEFT, 4
station_load.4 = 0, -2.6, 1, 0.9, TT:MENU.PAYLOAD.FRONT_PAX_RIGHT, 4
station_load.5 = 0, -6.0, -0.6, 1, TT:MENU.PAYLOAD.REAR_PAX_LEFT, 5
station_load.6 = 0, -6.0, 0.6, 1, TT:MENU.PAYLOAD.REAR_PAX_RIGHT, 5
station_load.7 = 0, -8.4, 0, 1, TT:MENU.PAYLOAD.REAR_BAGGAGE, 6

[CONTACT_POINTS]
static_pitch = 2.2
static_cg_height = 3.7
gear_system_type = 0
tailwheel_lock = 0
max_number_of_points = 12
gear_locked_on_ground = 0
gear_locked_above_speed = -1
max_speed_full_steering = 25 ; 15
max_speed_decreasing_steering = 40
min_available_steering_angle_pct = 0.05
max_speed_full_steering_castering = 20
max_speed_decreasing_steering_castering = 40
min_castering_angle = 0.05236
max_castering_angle = 3.14159265358979

point.0 = 1, 7.4, 0, -3.93, 750, 0, 0.5, 24, 0.26, 1.6, 0.7, 3, 3, 0, 0, 0
point.1 = 1, -1.3, -4.8, -3.67, 1500, 1, 0.5, 0, 0.3, 3, 0.7, 3, 3, 2, 0, 0
point.2 = 1, -1.3, 4.8, -3.67, 1500, 2, 0.5, 0, 0.3, 3, 0.7, 3, 3, 3, 0, 0
point.3 = 2, 9.8, 0, 0.4, 350, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0
point.4 = 2, 4, 0, -1.2, 500, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0
point.5 = 2, -0.5, -18.9, 1.1, 350, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0
point.6 = 2, -0.5, 18.9, 1.1, 350, 0, 0, 0, 0, 0, 0, 0, 0, 6, 0, 0
point.7 = 2, -4.3, 0, -1.3, 500, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0
point.8 = 2, -15.7, 0, 0, 750, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0
point.9 = 2, -19.8, 0, 6.7, 350, 0, 0, 0, 0, 0, 0, 0, 0, 9, 0, 0
point.10 = 17, 6.3, -6, -2.0, 500, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
point.11 = 17, 6.3, 6, -2.0, 500, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0

[FUEL]
LeftMain = -0.5, -6.3, 0, 86, 3
RightMain = -0.5, 6.3, 0, 86, 3
Center1 = 0, 0, 0, 0, 0
Center2 = 0, 0, 0, 0, 0
Center3 = 0, 0, 0, 0, 0
LeftAux = 0, 0, 0, 0, 0
LeftTip = 0, 0, 0, 0, 0
RightAux = 0, 0, 0, 0, 0
RightTip = 0, 0, 0, 0, 0
External1 = 0, 0, 0, 0, 0
External2 = 0, 0, 0, 0, 0
fuel_type = 1
number_of_tank_selectors = 2
electric_pump = 1
engine_driven_pump = 1
manual_transfer_pump = 0
manual_pump = 0
anemometer_pump = 0
fuel_dump_rate = 0
default_fuel_tank_selector.1 = 19
default_fuel_tank_selector.2 = 20

[AIRPLANE_GEOMETRY]
wing_area = 199
wing_span = 37.8
wing_root_chord = 8
wing_camber = 1
wing_thickness_ratio = 0.03
wing_dihedral = 5.5
wing_incidence = 1.8
wing_twist = 0
oswald_efficiency_factor = 0.70
wing_winglets_flag = 0
wing_sweep = 3
wing_pos_apex_lon = -3.9
wing_pos_apex_vert = -0.4
htail_area = 40
htail_span = 15.7
htail_pos_lon = -15.0
htail_pos_vert = 1.2
htail_incidence = 2.5
htail_sweep = 10
htail_thickness_ratio = 0.03
vtail_area = 28
vtail_span = 5.5
vtail_sweep = 45
vtail_pos_lon = -14.25
vtail_pos_vert = 3.8
vtail_thickness_ratio = 0.03
fuselage_length = 27.0
fuselage_diameter = 4.25
fuselage_center_pos = -2.0, 0, 0.75
elevator_area = 20
aileron_area = 5
rudder_area = 21
elevator_up_limit = 22
elevator_down_limit = 15
aileron_up_limit = 20
aileron_down_limit = 20
rudder_limit = 24
rudder_trim_limit = 24
elevator_trim_limit = 19.5
spoiler_limit = 0
spoilerons_available = 0
aileron_to_spoileron_gain = 0
min_ailerons_for_spoilerons = 0
min_flaps_for_spoilerons = 0
spoiler_extension_time = 0
spoiler_handle_available = 0
auto_spoiler_available = 0
auto_spoiler_min_speed = 0
positive_g_limit_flaps_up = 4.0
positive_g_limit_flaps_down = 2.0
negative_g_limit_flaps_up = -1.3
negative_g_limit_flaps_down = -1.1
load_safety_factor = 1.5
elevator_trim_neutral = 2
aileron_to_rudder_scale = 0
flap_to_aileron_scale = 0
fly_by_wire = 0
elevator_elasticity_table = 0:1, 50:1.0, 67:0.9, 150:0.5
aileron_elasticity_table = 0:1, 50:1.0, 67:0.8, 150:0.3
rudder_elasticity_table = 0:1, 50:1.0, 67:0.7, 150:0.2
elevator_trim_elasticity_table = 0:1, 50:1.0, 67:0.92, 150:0.3

[AERODYNAMICS]
lift_coef_pitch_rate = -15.0
lift_coef_daoa = 0.0
lift_coef_delta_elevator = -1.12
lift_coef_horizontal_incidence = 0.0
lift_coef_flaps = 0.333
lift_coef_spoilers = -0.10000
drag_coef_zero_lift = 0.0425
drag_coef_flaps = 0.0915
drag_coef_gear = 0.00500
drag_coef_spoilers = 0.10000
side_force_slip_angle = -2.25
side_force_roll_rate = 0.28
side_force_yaw_rate = 2.8
side_force_delta_rudder = -1.925
pitch_moment_horizontal_incidence = 0.0
pitch_moment_delta_elevator = -4.0
pitch_moment_delta_trim = -4.0
pitch_moment_pitch_damping = -335.0
pitch_moment_aoa_0 = -0.095
pitch_moment_daoa = 0.0
pitch_moment_flaps = -0.004
pitch_moment_gear = 0.00275
pitch_moment_spoilers = -0.0275
pitch_moment_delta_elevator_propwash = -1.0125
pitch_moment_pitch_propwash = 0.0
roll_moment_slip_angle = 0.25
roll_moment_roll_damping = -2.025
roll_moment_yaw_rate = -0.265
roll_moment_spoilers = 0.0
roll_moment_delta_aileron = -0.215
roll_moment_delta_rudder = 0.145
roll_moment_delta_aileron_trim_scalar = -0.215
yaw_moment_slip_angle = 0.915
yaw_moment_roll = 0.065
yaw_moment_yaw_damping = -10.5
yaw_moment_yaw_propwash = 0.0
yaw_moment_delta_aileron = -0.00065
yaw_moment_delta_rudder = 0.575
yaw_moment_delta_rudder_propwash = 0.145
yaw_moment_delta_rudder_trim_scalar = 0.575
compute_aero_center = 0
aero_center_lift = -0.40000
lift_coef_aoa_table = -3.15:0, -0.8:-1.003, -0.4:-0.707, -0.2:-0.909, -0.1:-0.513, 0:0.060, 0.20:1.066, 0.23:1.157, 0.26:0.937, 0.29:0.792, 0.31:0.696, 0.4:0.678, 0.8:1.004, 3.15:0
lift_coef_ground_effect_mach_table = 0.054:1.25
lift_coef_mach_table = 0:1
lift_coef_delta_elevator_mach_table = 0:0
lift_coef_daoa_mach_table = 0:0
lift_coef_pitch_rate_mach_table = 0:0
lift_coef_horizontal_incidence_mach_table = 0:0
drag_coef_zero_lift_mach_tab = 0:0.000, 0.5:0.000, 0.55:0.000, 0.6:0.100, 0.65:0.200, 0.7:0.200, 0.75:0.200, 0.8:0.200, 0.85:0.200, 0.9:0.200, 0.95:0.200, 1.0:0.200, 1.1:0.114, 1.5:0.025
side_force_slip_angle_mach_table = 0:0
side_force_delta_rudder_mach_table = 0:0
side_force_yaw_rate_mach_table = 0:0
side_force_roll_rate_mach_table = 0:0
pitch_moment_aoa_table = -3.15:0, -0.8:-1.415, -0.4:-0.699, -0.2:-0.610, -0.1:-0.401, 0:0, 0.20:0.798, 0.23:0.846, 0.26:0.879, 0.29:0.872, 0.31:0.847, 0.4:0.800, 0.8:1.507, 3.15:0
pitch_moment_delta_elevator_aoa_table = -180:-1, -40:0.224, -20:0.067, -14:0.688, -7:0.980, 0:1, 7:1.004, 14:0.952, 20:0.453, 40:0.221, 180:-1
pitch_moment_horizontal_incidence_aoa_table = 0:1
pitch_moment_daoa_aoa_table = 0:1
pitch_moment_pitch_alpha_table = 0:1
pitch_moment_delta_elevator_mach_table = 0:0
pitch_moment_daoa_mach_table = 0:0
pitch_moment_pitch_rate_mach_table = 0:0
pitch_moment_horizontal_incidence_mach_table = 0:0
pitch_moment_aoa_0_mach_table = 0:0
roll_moment_aoa_table = 0:0
roll_moment_slip_angle_aoa_table = 0:1
roll_moment_roll_rate_aoa_table = 0:1
roll_moment_delta_aileron_aoa_table = 0:1
roll_moment_slip_angle_mach_table = 0:0
roll_moment_delta_rudder_mach_table = 0:0
roll_moment_delta_aileron_mach_table = 0:0
roll_moment_yaw_rate_mach_table = 0:0
roll_moment_roll_rate_mach_table = 0:0
yaw_moment_aoa_table = 0:0
yaw_moment_slip_angle_aoa_table = 0:1
yaw_moment_yaw_rate_aoa_table = 0:1
yaw_moment_delta_rudder_aoa_table = 0:1
yaw_moment_slip_angle_mach_table = 0:0
yaw_moment_delta_rudder_mach_table = 0:0
yaw_moment_delta_aileron_mach_table = 0:0
yaw_moment_yaw_rate_mach_table = 0:0
yaw_moment_roll_rate_mach_table = 0:0
elevator_scaling_table = 0:1
aileron_scaling_table = 0:1
rudder_scaling_table = 0:1
aileron_load_factor_effectiveness_table = 0:1
lift_coef_at_drag_zero = 0.10000
lift_coef_at_drag_zero_flaps = 0.10000

[FLIGHT_TUNING]
modern_fm_only = 1.0
cruise_lift_scalar = 1.0
parasite_drag_scalar = 0.65
induced_drag_scalar = 1.0
flap_induced_drag_scalar = 1.2
elevator_effectiveness = 0.20
elevator_maxangle_scalar = 1.0
aileron_effectiveness = 0.60
rudder_effectiveness = 0.15
rudder_maxangle_scalar = 0.825
pitch_stability = 0.125
roll_stability = 0.125
yaw_stability = 0.125
pitch_gyro_stability = 0.25
roll_gyro_stability = 0.25
yaw_gyro_stability = 0.25
elevator_trim_effectiveness = 1.0
aileron_trim_effectiveness = 1
rudder_trim_effectiveness = 1
hi_alpha_on_roll = 0
hi_alpha_on_yaw = 0
p_factor_on_yaw = 1
torque_on_roll = 1
gyro_precession_on_roll = 1
gyro_precession_on_yaw = 1
engine_wash_on_roll = 1
rudder_engine_wash_on_roll = 0.3
;//////////////////////////////          SU 10 Ground Handling - Bonanza Analog JD 0.1         /////////////////////////////////
ground_crosswind_effect_max_speed = 102             ; crosswind full effect at 90 fps = 54 Knots aircraft speed and above
ground_crosswind_effect_zero_speed = 51             ; crosswind zero effect at 30 fps = 18 Knots aircraft speed and below      
;10 knots = 17 fps / 20 kts = 34 fps  / 30 Kts = 51  / 40 kts =  68 fps   / 60 kts = 102 fps  /  80 kts =  136     100 kts =  170 fps
ground_high_speed_steeringwheel_static_friction_scalar = 1.6
ground_high_speed_otherwheel_static_friction_scalar = 1.6

[REFERENCE SPEEDS]
full_flaps_stall_speed = 61
flaps_up_stall_speed = 68
cruise_speed = 180
max_mach = 0.6
max_indicated_speed = 223
max_flaps_extended = 123
normal_operating_speed = 176
airspeed_indicator_max = 260
cruise_alt = 1500
takeoff_speed = 100
spawn_cruise_altitude = 1500
spawn_descent_altitude = 500
best_glide = 115
rotation_speed_min = 85
best_angle_climb_speed = 92
climb_speed = 105
best_single_engine_rate_of_climb_speed = 87
minimum_control_speed = 76

[INTERACTIVE POINTS]
number_of_interactive_points = 1
interactive_point.0 =6.5 , 0.0 , 0.0, 0.0, 0 , 0.0, 0.0, 0.0 , 0.0, 0.0, 0.0, 0.0, 0.0, 0.0


;===================== FLAPS =====================

[FLAPS.0]
type = 1
system_type = 0
span-outboard = 0.4
extending-time = 7
damaging-speed = 160
blowout-speed = 200
maneuvering_flaps = 0
lift_scalar = 1.6
drag_scalar = 1.6
pitch_scalar = 1
max_on_ground_position = 2
flaps-position.0 = 0, -1, 0
flaps-position.1 = 12, 155, 0.5
flaps-position.2 = 30, 125, 0.8

